/*For textboxes, similar to leaflet control elements*/
.infoBox {
    line-height: 18px;
    color: #555;
    /*padding: 6px 8px;*/
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 70px;
    left: calc(50vw - 130px);
    width: 260px;
    /*margin: auto; !important;*/
    /*min-width: 150px !important;*/
    z-index: 1000;
	}
  /*Design for the collapseable navigation bar*/
.navbar {
		margin-bottom: 0px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}

.control {
  background-color: white;
  position: absolute;
  bottom: 20px;
  height: 30px;
  width: 45px;
}

.arrow {
  color: black;
  position: relative;
  top: -15px;
  font-size: 150%;
}
